.background-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  height: 100vh;
  justify-content: center;
  position: relative;
  transition: opacity .5s ease-out;
  width: 100vw;

  #background {
    filter: var(--blur-normal) brightness(75%);
    height: 100%;
    left: 0;
    object-fit: cover;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: opacity .5s ease-out;
    width: 100%;
  }
}


