@keyframes demo-bar-bounce {
  from { right: 0; }
  20%, 40% { right: -.5rem; }
  50% { right: 0rem; }
  60% { right: -.25rem; }
  70% { right: 0; }
  80% { right: -.1rem; }
  90%, 100% { right: 0; }
}

#demo-buttons {
  backdrop-filter: var(--blur-normal);
  background-color: var(--highlight-alpha);
  border-radius: 0 1rem 1rem 0;
  bottom: 1.5rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 1rem 2rem;
  position: absolute;
  transform: translateX(-27rem);
  transition: transform .3s ease-in-out, padding .3s ease-in-out;

  label {
    margin: .1rem 0;
    padding: 0;
    background: transparent;
  }

  &:hover {
    transform: translateX(0);
    padding-right: 1rem;

    &:after { opacity: 0; }
  }

  &:after {
    animation: demo-bar-bounce 2s infinite;
    animation-delay: 2s;
    animation-iteration-count: 2;
    background-color: var(--grey);
    border-radius: .25rem;
    width: .5rem;
    height: 4rem;
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
    transition: opacity .3s ease-in-out;
  }
}


#install-button {
  backdrop-filter: var(--blur-normal);
  background-color: var(--highlight-alpha);
  border-radius: .5rem;
  bottom: 1.5rem;
  color: var(--font-primary);
  cursor: pointer;
  padding: .5rem 1rem;
  position: absolute;
  right: 1.5rem;
  text-decoration: none;
  transition: background-color .3s ease, transform .3s ease, color .3s ease, box-shadow .3s ease;

  &:hover {
    background-color: rgba(#2ecc71, .8);
    box-shadow: var(--box-shadow);
    transform: translateY(-.25rem);
  }
}
