#weather-container {
  align-items: center;
  animation: enter-left 1s ease-in-out;
  backdrop-filter: var(--blur-normal);
  background-color: var(--highlight-alpha);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  left: 1.5rem;
  padding: .6rem 1.2rem;
  padding-right: 1.9rem;  // Extra padding for the text
  position: absolute;
  top: 1.5rem;
  user-select: none;

  .details {
    display: flex;
    flex-direction: column;

    .temp-container {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }

  p {
    font-size: 1.25rem;
    font-weight: 400;
    margin: 0;
  }

  #wicon {
    height: 4.5rem;
    width: 4.5rem;
  }
}

